<%= wrapper do %>
  <% if simple_content? %>
    <%= tag.div(content, class: "list-group-item") %>
  <% else %>
    <%= tag.div(class: "list-group-item expandable-item", data: component_data_options) do %>
      <div class="expandable-item-header">
        <%= title %>
        <%= actions %>
      </div>
      <%= tag.div(id: target_id, class: "expandable-item-body collapse", data: body_data_options) do %>
        <%= body %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
