<div class="expandable-item-header-actions">
  <% if variable_actions? %>
    <%= tag.div(class: "expandable-item-header-actions-collapsed") do %>
      <%= collapsed %>
    <% end %>
    <%= tag.div(class: "expandable-item-header-actions-expanded") do %>
      <%= expanded %>
    <% end %>
  <% else %>
      <%= content %>
  <% end %>
</div>
