<%= wrapper do %>
  <% if simple_content? %>
    <%= tag.send(tag_name, content, **component_attributes) %>
  <% else %>
    <%= tag.send(tag_name, **component_attributes) do %>
      <div class="expandable-item-header">
        <%= title %>
        <%= actions %>
      </div>
      <%= tag.div(id: target_id, class: "expandable-item-body collapse", data: body_data_options) do %>
        <%= body %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
